<div class="dashboard messages">
	
	<div class="messages-header">
		<h2>Send Messages</h2>
	</div>
	
	<div class="dashboard-items messages-filter-holder container">
	    <select class="selectpicker cultures">
		  	<option>All cultures</option>
		  	<option>EU culture</option>
		  	<option>AU culture</option>
		  	<option>International</option>
		</select>
	   	<select class="selectpicker users">
		  	<option>All users</option>
		  	<option>Logged in</option>
		  	<option>Logged out</option>
		</select>
		<select class="selectpicker alert">
		  	<option>Type: Alert</option>
		  	<option>Type: Push</option>
		  	<option>All</option>
		</select>
		
		<div class="send-button">
			<a href="#" class="btn message-btn">Send message</a>
	
		</div>		
	
	</div>
	
	<div class="dashboard-items messages-input-holder container">
		<div class="row ">
		    <div class="col-sm-6 ">
		    	<span>English</span>
		    	<textarea name="" id="" cols="30" rows="10"></textarea>
		    	<input type="text" placeholder="Enter URL">
		    </div>
		    <div class="col-sm-6">
		    	<span>Polish</span>
		      	<textarea name="" id="" cols="30" rows="10"></textarea>
		      	<input type="text" placeholder="Enter URL">
		    </div>
		    <div class="col-sm-6">
		    	<span>Arabic</span>
		     	<textarea name="" id="" cols="30" rows="10"></textarea>
		      	<input type="text" placeholder="Enter URL">
		    </div>
		     <div class="col-sm-6">
		     	<span>Chinese</span>
		      	<textarea name="" id="" cols="30" rows="10"></textarea>
		      	<input type="text" placeholder="Enter URL">
		    </div>
		</div>
	</div>
	
</div>