<div class="panel-menu">
	<div class="panel-row">
		<div class="panel-icon panel-data"><span class="icon-user"></div>
		<div class="panel-text panel-data">Send messages</div>
	</div>
	<div class="panel-row">
		<div class="panel-icon panel-data"><span class="icon-user"></div>
		<div class="panel-text panel-data">Live reports</div>
	</div>
	<div class="panel-row">
		<div class="panel-icon panel-data"><span class="icon-user"></div>
		<div class="panel-text panel-data">Market alerts</div>
	</div>
	<div class="panel-row">
		<div class="panel-icon panel-data"><span class="icon-user"></div>
		<div class="panel-text panel-data">Push notifications</div>
	</div>
	<div class="panel-row">
		<div class="panel-icon panel-data"><span class="icon-user"></div>
		<div class="panel-text panel-data">Create rules</div>
	</div>
	<div class="panel-row">
		<div class="panel-icon panel-data"><span class="icon-user"></div>
		<div class="panel-text panel-data">User groups</div>
	</div>
</div>