<div class="panel-menu">
	<div class="panel-row">
		<div class="panel-icon panel-data"><span class="glyphicon glyphicon-envelope"></span></div>
		<div class="panel-text panel-data">Send messages</div>
	</div>
	<div class="panel-row">
		<div class="panel-icon panel-data"><span class="glyphicon glyphicon-stats"></span></div>
		<div class="panel-text panel-data">Live reports</div>
	</div>
	<div class="panel-row">
		<div class="panel-icon panel-data"><span class="glyphicon glyphicon-comment"></span></div>
		<div class="panel-text panel-data">Market alerts</div>
	</div>
	<div class="panel-row">
		<div class="panel-icon panel-data"><span class="glyphicon glyphicon-chevron-up"></span></div>
		<div class="panel-text panel-data">Push notifications</div>
	</div>
	<div class="panel-row">
		<div class="panel-icon panel-data"><i class="fa fa-sitemap"></i></div>
		<div class="panel-text panel-data">Create rules</div>
	</div>
	<div class="panel-row">
		<div class="panel-icon panel-data"><i class="fa fa-users"></i></div>
		<div class="panel-text panel-data">User groups</div>
	</div>
</div>